.head {
    background-color: #fff;
    height: 150px;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 9%;
}

.head h1, p {
    font-family:'Oswlad', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    top: 30%; 
}

.head p {
    font-style: italic;
}

.content {
    position: absolute;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    display: flex;
    flex-wrap: wrap;
    top: -5%;
   
}

.content .box {
    position: relative;
    width: calc(300px - 30px);
    height: calc(450px - 30px);
    background: rgb(0, 0, 0);
    float: left;
    margin: 60px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.content .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.container .box .icon .fa-futbol {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 80px;
transition: 0.5s;
color: rgb(0, 0, 0);
}

.container .box:hover .icon .fa-font {
font-size: 40px;
cursor: pointer;
}

.container .box .info {
    position: absolute;
    top: 100%;
    height:calc(100% - 150px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container .box:hover .info {
top: 100px;
opacity: 1;
cursor: pointer;
}

.container .box .info h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.container .box .info p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.container .box:nth-child(1) .icon {
    background: #319635;
}

.container .box:nth-child(1) {
    background: #4caf50;
}

.container .box:nth-child(2) .icon {
    background: #d6591b;
}

.container .box:nth-child(2) {
    background: #ee5305;
}

.container .box:nth-child(3) .icon {
    background: #21456e;
}

.container .box:nth-child(3) {
    background: #4290e8;
}

.league-logo {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 85%;
}

.logo {
    height: 100px;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
}
