.head {
    width: 100%;
    height: auto;
}

.title {
    background-color: #fff;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    padding-top: 50px;
}

.title h1, p {
    font-family:'Oswlad', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    top: 30%;
}

.title p {
    font-style: italic;
}




/*about-content*/
.about-content {
    width: 1000px;
    height: 100%;
    padding-top: 50px;
    position: relative;
    top: 60px;
    margin-bottom: 50px;
}

.about-me {
    background:red;
    height: 250px;
    width: 1000px;
    text-align: center;
    justify-content: center;
}

.about-blog {
    background:rgb(36, 253, 7);
    height: 250px;
    width: 1000px;
    text-align: center;
    justify-content: center;
}

.about-want {
    background:rgb(226, 5, 61);
    height: 250px;
    width: 1000px;
    text-align: center;
    justify-content: center;
}

h2{
    margin: 0px;
    padding: 0px;
}

main {
    flex-direction: column;
}