/* Content container */
.blog-content {
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
    max-width: auto;
    height: 2500px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.headline {
    height: 75px;
    width: auto;
    font-size: 45px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.top {
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
    width: auto;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.image-one {
    width: 1000px;
    height: 600px;
    border-radius: 1rem;
    position: relative;
    border: 3px solid #fff;
    box-shadow: 0px 0px 13px 2px #13520c;
}

.headline-two {
    height: 75px;
    width: auto;
    font-size: 25px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}


























.content-one {
    background-color: rgb(106, 106, 196);
    width: auto;
    height: auto;
    margin: 0px;
}

.content-two {
    background-color: rgb(93, 93, 209);
    width: auto;
    height: auto;
    margin: 0px;
}

.content-three {
    background-color: rgb(14, 14, 236);
    width: auto;
    height: auto;
    margin: 0px;
}

.content-four {
    background-color: rgb(172, 42, 42);
    width: auto;
    height: auto;
    margin: 0px;
    display: table-row;
}

.content-five {
    background-color: rgb(142, 243, 159);
    width: auto;
    height: auto;
    margin: 0px;
    display: table-row;
}

/* Images */

img {
    cursor: pointer;
}



.image-two,
.image-three,
.image-four  {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    margin: 50px;
}










.image-five {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    margin: 50px;
}


/* div */
.score {
    width: 600px;
    height: 600px;
    position: relative;
}

.lineup-one {
    width: 600px;
    height: 600px;
    position: relative;
}

.lineup-two {
    width: 600px;
    height: 600px;
    position: relative;
}


/* div */

.paragraph-one, 
.paragraph-two,
.paragraph-three,
.paragraph-four
.paragraph-five,
.paragraph-six {
    margin: 50px;
}

.score,
.lineup-one,
.lineup-two {
    margin: 50px;
}