.content {
    padding: 1rem;
    background: #b3bfc2;
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 1100px;
    height: 4000px;
}

.headline {
    font-size: 50px;
}

.firstImg {
    width: 600px;
    height: 600px;
    border-radius: 1rem;
    position: absolute;
    top: 3%;
}

.paragraph-one {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 19%;
}

.paragraph-two {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 22%;
}