
/* Headliner */
.head {
    background-color: #ffff;
    height: 150px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.head h1, p {
    font-family:'Oswlad', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    top: 30%;
}

.head p {
    font-style: italic;
}


/* content text */
.content {
    background-color: #ffff;
    height: 400px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.content h2 {
    font-family:'Oswlad', sans-serif;
    font-weight: 700;
    font-style: italic;
    position: relative;
    top: 25%;
}

.league-logo {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 30%;
}

.logo {
    height: 100px;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
}


/* slider */
.slide {
    background-color: #ffff;
    height: 600px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slider {
    overflow: hidden;
    width: 900px;
    position: relative;
    left: 500px;
    margin-top: 50px;
}

.slider .slider-item,
.slider .slider-item-hidden {
    display: none;
}

.slider .slide-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    height: 500px;
}

.slider .info {
    position: absolute;
    top: 75%;
    left: 42.5%;
    background-color: #a40000;
}

.slider .slider-show {
    display: block;
    animation: fadeVisibility 0.5s;
}

@keyframes fadeVisibility
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: opacity linear;
    }
}

.slider .slider-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slider .slider-actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
