/* ===== Fonts ===== */ 
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@700&display=swap');

/* ===== Body and Main===== */ 
body {
    font-family: 'p', sans-serif;
}

main {
    min-height: calc(100vh - 50px);
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



/* ===== Header and Loader ===== */ 
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    z-index: 10;
    background-image: url(../img/header.jpg);
    background-size: cover;
}

header p {
    color: #ff0000;
    font-family: 'Permanent marker';
    text-decoration: none;
    font-size: 35px;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    position: relative;
}

header .navigation li {
    list-style: none;
    margin: 0 20px;
    text-align: center;
}

header .navigation li a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Permanent Marker';
}

.menu-list-item.active {
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}

header .navigation li a:hover {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
    border-top: 2px solid #ff0000;
}



/* ===== Footer ===== */ 
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px, 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    font-family: 'Permanent Marker';
    background-image: url(../img/header.jpg);
    background-size: cover;
}
  
footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .menu li a {
    font-size: 1em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: bold;
}

footer .menu li a:hover {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
    border-top: 2px solid #ff0000;
}



/* ===== Loader ===== */ 
#preloader {
    background: #000 url(../img/loading.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} 



/* ====== Head Title ====== */
.head {
    display: flex;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 55px;
}


.title {
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    padding-top: 50px;
}

.title h1, p {
    font-family:'Montserrat subrayada', sans-serif;
    font-weight: 700;
    font-style: bold;
    position: relative;
    top: 30%;
}

.title p {
    font-family: 'Montserrat alternates', sans-serif;
    font-style: italic;
}



/* ====== Homepage ====== */
.top-content {
    display: flex;
    width: 1400px;
    height: 100%;
    padding-top: 0px;
    position: relative;
    top: 30px;
    text-align: center;
    justify-content: center;
}

.content-img {
    position: relative;
    height: 500px;
    width: 950px;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
}

.homepage-content {
    width: 1400px;
    height: 100%;
    padding-top: 0px;
    position: relative;
    padding-top: 100px;
}

.homepage-content h2, p {
    padding-bottom: 25px;
    font-family: 'Montserrat alternates', sans-serif;
}

.homepage-content p {
    padding-bottom: 25px;
    font-style: italic;
    font-family: 'Catamaran',sans-serif;
}

.text-content {
    text-align: center;
    justify-content: center;
}

.sliderbox {
    height: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.latest {
    position: relative;
    top: -20px;
    left: 0px;
}

.latest h3{
    font-size: 34px;
    font-family: 'Montserrat alternates', sans-serif;
    font-style: italic;
    text-decoration: underline;

}
/* slider */
.slider-container {
    width: 990px;
    margin-bottom: 20px;
    height: 500px;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    top: 5px;
    left: 0px;
    border: 2px solid #ffffff;
    display: inline-flex;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.slide-img {
    width: 1000px;
    height: 500px;
}

.slide h3 {
    font-size: 25px;
    width: 100%;
    background: #000;
    color: #ffffff;
    border-radius: 0.5rem;
}


.slide:nth-child(1) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(2) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(3) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(4) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(5) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(6) h3 {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 0.75rem;
    position: relative;
    top: -50px;
}

.prevBtn,
.nextBtn{
    font-size: 70px;
    cursor: pointer;
    margin: 0 0 0 75rem;
    color: #fff;
    transition: var(--transition);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: -250px;
    left: -600px;
    display: inline-flex;
    background-color: #000;
}

.prevBtn:hover,
.nextBtn:hover {
    color: #ff0000;
}



/* ====== Blog specific ====== */
.blog-content {
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
    max-width: auto;
    height: 2500px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.headline,
.headline-two  {
    font-family:'Montserrat alternates', sans-serif;
}

.top {
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
    width: auto;
    height: auto;
}

.image-one {
    width: 900px;
    height: 450px;
    border-radius: 1rem;
    position: relative;
    border: 3px solid #fff;
    cursor: pointer;
}

.content-one {
    height: auto;
    max-width: 800px;
    margin: 0 auto;
}

.headline-two {
    height: auto;
    width: auto;
    font-size: 25px;
    position: relative;
}

.content-two {
    height: auto;
    max-width: auto;
    margin: 0 auto;
}

.image-two,
.image-three,
.image-four  {
    width: 265px;
    height: 250px;
    border-radius: 1rem;
    margin: 0px 25px -10px 25px;
    border: 3px solid #fff;
    cursor: pointer;
}

.content-three {
    height: auto;
    max-width: 800px;
    margin: 25px auto;
}

.content-four {
    height: auto;
    max-width: 800px;
    margin: 0 auto;

}

.image-five {
    width: 900px;
    height: 350px;
    border-radius: 1rem;
    margin: 10px;
    position: relative;
    left: -70px;
    border: 3px solid #fff;
    cursor: pointer;
}

.content-five {
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.score,
.lineup-one,
.lineup-two {
    margin-top: 25px;
    font-weight: bold;
    font-family: 'catamaran',sans-serif ;
}

.paragraph-one, 
.paragraph-two,
.paragraph-three,
.paragraph-four,
.paragraph-five,
.paragraph-six {
    margin-top: 25px;
    position: relative;
    font-size: 14px;
    text-align: left;
    font-family: 'catamaran',sans-serif ;
}



/* ====== My Posts ====== */
.container-show{
    height: auto;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
}

.container-show-more {
    height: 100px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;
    margin: -50px 0px 25px 0px;
}

.post {
    padding: 1rem;
    background: rgb(120, 119, 119);
    border: 3px solid #fff;
    border-radius: 1rem;
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    margin: 0 0 100px 25px;
    width: 500px;
    height: 450px;
}

.post h2 {
    color: #fff;
    margin: 7.5px;
    font-family: 'Montserrat alternates', sans-serif;
}


.post-img {
    width: 500px;
    height: 250px;
    margin: 7.5px;
    padding: 7.5px;
    border-radius: 5%;
    border: 2px solid #fff;
}

.readmoreBtn{
    position: relative;
    top: 0px;
    background-color: #000;
    color: #ff0000;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #fff;
    cursor: pointer;
    margin: 7.5px;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
}

.more-per-page {
    background-color: #000;
    color: #ff0000;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 70px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #ff0000;
    cursor: pointer;
    margin: 7.5px;
    font-weight: bold;
    box-shadow: 0px 0px 13px 2px #ff0000;
    font-family: 'Catamaran', sans-serif;
}

.readmoreBtn:hover, .more-per-page:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 13px 2px #fff;
}



/* ====== About Page ====== */
.about-content {
    width: 1400px;
    height: 100%;
    padding-top: 0px;
    position: relative;
    top: 30px;
    margin-top: -250px;
}

.about-me {
    height: 175px;
    width: 100%;
    text-align: left;
    justify-content: center;
    position: relative;
    border-top: 2px solid #ff0000;
}

.about-blog {
    height: 175px;
    width: 100%;
    text-align: left;
    justify-content: center;
    position: relative;
    border-top: 2px solid #ff0000;
}

.about-want {
    height: 175px;
    width: 100%;
    text-align: left;
    justify-content: center;
    position: relative;
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
}

.about-content h2 {
    margin-bottom: -40px;
    font-size: 36px;
    font-style: italic;
    font-family:'Montserrat alternates', sans-serif;
}

.about-content p {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Catamaran', sans-serif;
}



/* ====== Contact Page ====== */
.wrapper {
    position: absolute;
    color: #fff;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.wrapper .input-field {
    margin-bottom: 10px; 
}

.wrapper .input-field input[type="text"],
.wrapper textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;  
}

.wrapper textarea {
    height: 80px;
    resize: none;
}

.wrapper .btn input[type="submit"] {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background:#000 ;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border: 10px;
    cursor: pointer;
    border: 2px solid #ff0000;
    border-radius: 10px; 
}

.wrapper .btn input[type="submit"]:hover {
    color: #fff;
    background-color: #13520c;
    box-shadow: 0px 0px 13px 2px #13520c;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid #fff;
}



.wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background: #ff0000;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-weight: bold;
}


.map {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 83%;
    padding: 25px;
    
}

iframe {
    box-shadow: 0px 0px 13px 2px #13520c;
}



/* dropdown-menu */
 .dropdown-menu {
    position: relative;
    display: none;
    height: 45px;
    width: 200px;
    border-radius: 10px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #fff;
}
 .dropdown-menu ul {
    list-style: none;
    font-size: 1rem;
}

 .dropdown-menu a {
    color: #000;
    text-decoration: none;
}

 .dropdown-menu a:hover {
    color: #fff;
    text-decoration: none;
}

 .dropdown {
    position: absolute;
    width: 200px;
    color: #fff;

}

 .dropdown li {
    display: none;
    opacity: 0;
    background-color: #fff;
    transition: color .3s;
}

 .dropdown li:hover {
    background: #000;
    color: #ff0000;

}

 .dropdown-menu:hover .dropdown li {
    display: block;
    animation: animation .5s forwards;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

 .dropdown.menu .dropdown li:nth-last-child(1) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

 .dropdown-menu:hover .dropdown li:nth-child(2) {
    animation-delay: .2s;
}

 .dropdown-menu:hover .dropdown li:nth-child(3) {
    animation-delay: .4s;
}

 .dropdown-menu:hover .dropdown li:nth-child(4) {
    animation-delay: .6s;
}








/* anima */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-3rem);
    }
}




/* MODAL */

.modal {
    position: fixed;
    left: 0;
    right: 0s;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
    width: 1000px;
    height: 800px;
    margin: 20px;
    border-style: double;
    border-color: #0b3b59;
    background-color: white;
    position: relative;
    left: 22.5%;
    top: 0%;
    border-radius: 1rem;
}



